<!-- =======================ABOUT============================
Зверніть увагу!                                             ||
Скелет (html, head, body) в цей файл додавати не потрібно!  ||
Додаємо тільки розмітку своєї частинки                      ||
                                                            ||
Коректний відносний шлях до зображень має такий вигляд      ||
<img src="/img/about/about-desk.jpg" alt="">                ||
========================================================== -->
<section class="about">
  <h2 class="hidden">Hidden later</h2>
  <ul class="about-list">
    <li class="about-item">
      <h3 class="about-number">01</h3>
      <p class="about-text">
        Swimming and water sports: try your hand at water skiing
      </p>
    </li>
    <li class="about-item">
      <h3 class="about-number">02</h3>
      <p class="about-text">Fishing: try to catch your own dinner</p>
    </li>
    <li class="about-item">
      <h3 class="about-number">03</h3>
      <p class="about-text">
        Sightseeing tours: take a shore or island tour, enjoy the views and
        sunsets from the water
      </p>
    </li>
    <li class="about-item">
      <h3 class="about-number">04</h3>
      <p class="about-text">
        Rest and relaxation: read a book or listen to music while enjoying the
        outdoor atmosphere.
      </p>
    </li>
  </ul>
  <img
    width="432"
    height="424"
    class="about-image"
    src="/img/about/about-desk.jpg"
    alt="interior yacht"
  />
</section>
