<!-- =====================CATALOG============================
Зверніть увагу!                                             ||
Скелет (html, head, body) в цей файл додавати не потрібно!  ||
Додаємо тільки розмітку своєї частинки                      ||
                                                            ||
Коректний відносний шлях до зображень має такий вигляд      ||
<img src="/img/catalog/yaht-1.jpg" alt="">                  ||
========================================================== -->
<section class="catalog" id="catalog">
  <h2 class="catalog-title">
    Choose your dream yacht and sail away into the sunset
  </h2>
  <ul>
    <li class="catalog-card">
      <img
        src="../img/catalog/yaht-1.jpg"
        alt="yaht-1 image"
        width="345p"
        height="268p"
      />
      <h3 class="catalog-card-title">Arrow</h3>
      <p class="catalog-card-desc">luxury yahts</p>
      <ul>
        <li class="catalog-card-list-item">
          <span class="catalog-card-list-item-label">length</span
          ><span class="catalog-card-list-item-value">48m(155ft)</span>
          <span class="catalog-card-list-item-label">builder</span
          ><span class="catalog-card-list-item-value">Admiral</span>
          <span class="catalog-card-list-item-label">built</span
          ><span class="catalog-card-list-item-value">2021</span>
          <span class="catalog-card-list-item-label">guests</span
          ><span class="catalog-card-list-item-value">11 in 5 cabins</span>
          <span class="catalog-card-list-item-label">price</span
          ><span class="catalog-card-list-item-value">€33,500,000</span>
        </li>
      </ul>
    </li>
    <li class="catalog-card">
      <img
        src="../img/catalog/yaht-2.jpg"
        alt="yaht-1 image"
        width="345p"
        height="268p"
      />
      <h3 class="catalog-card-title">BENETTI OASIS 40</h3>
      <p class="catalog-card-desc">luxury yahts</p>
      <ul>
        <li class="catalog-card-list-item">
          <span class="catalog-card-list-item-label">length</span
          ><span class="catalog-card-list-item-value">41m (133ft)</span>
          <span class="catalog-card-list-item-label">builder</span
          ><span class="catalog-card-list-item-value">Benetti</span>
          <span class="catalog-card-list-item-label">built</span
          ><span class="catalog-card-list-item-value">2025</span>
          <span class="catalog-card-list-item-label">guests</span
          ><span class="catalog-card-list-item-value">10 in 5 cabins</span>
          <span class="catalog-card-list-item-label">price</span
          ><span class="catalog-card-list-item-value">€23,210,000</span>
        </li>
      </ul>
    </li>
    <li class="catalog-card">
      <img
        src="../img/catalog/yaht-3.jpg"
        alt="yaht-1 image"
        width="345p"
        height="268p"
      />
      <h3 class="catalog-card-title">BELLE ANNA</h3>
      <p class="catalog-card-desc">luxury yahts</p>
      <ul>
        <li class="catalog-card-list-item">
          <span class="catalog-card-list-item-label">length</span
          ><span class="catalog-card-list-item-value">50m(155ft)</span>
          <span class="catalog-card-list-item-label">builder</span
          ><span class="catalog-card-list-item-value">ISAl</span>
          <span class="catalog-card-list-item-label">built</span
          ><span class="catalog-card-list-item-value">2012</span>
          <span class="catalog-card-list-item-label">guests</span
          ><span class="catalog-card-list-item-value">12 in 6 cabins</span>
          <span class="catalog-card-list-item-label">price</span
          ><span class="catalog-card-list-item-value">€21,000,000</span>
        </li>
      </ul>
    </li>
  </ul>
  <button class="catalog-btn" type="button">Yacht rental</button>
</section>
