<footer class="footer">
  <div class="footer__top">
    <div class="footer__logo">yachtjet</div>

    <nav class="footer__nav">
      <a href="#">ABOUT</a>
      <a href="#">YACHTS</a>
      <a href="#">REVIEWS</a>
    </nav>
  </div>

  <div class="footer__content">
    <p>
      No matter which yacht you choose, our<br />
      experienced crew will ensure that your journey<br />
      is smooth and enjoyable.
    </p>
  </div>

  <div class="footer__bottom">
    <span>2023. Yacht Adventures</span>
    <a href="#">Privacy Police</a>
  </div>
</footer>
