<header class="header">
  <div class="header-container">
    <a class="header-logo" href="header.html">yachtjet</a>

    <nav class="navigation">
      <ul class="navigation-list">
        <li class="navigation-item">
          <a class="navigation-link" href="about.html">ABOUT</a>
        </li>

        <li class="navigation-item">
          <a class="navigation-link" href="catalog.html">YACHTS</a>
        </li>

        <li class="navigation-item">
          <a class="navigation-link" href="reviews.html">REVIEWS</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
