/* Сюди додавай стилі частинки Hero */
.hero {
  font-family: 'Inter', sans-serif;
}
.hero-title {
  font-weight: 500;
  font-size: 80px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
}
.hero-desc {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: #b4b7ba;
}
.hero-btn {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  background-color: #1b414b;
}
